body {
    background-color: #f5f5f5;
    display: flex;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chat-inputs{
    display: flex;
    flex-direction: column;
}

/* LOGIN */
.login {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    z-index: 1;
    background-color: white;
}